[package]
name = "ym2149-ay-replayer"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[dependencies]
thiserror.workspace = true
iz80 = "0.4.4"
ym2149 = { path = "../ym2149-core" }
